AI_API_KEY=your_api_key
AI_API_URL=your_end_point/v1/ ## just end-with v1 not chat/completion beaucase i used OpenAI SKD
MODEL=your_model

TAVILY_API_KEY=your_tavily_key
# SEARXNG_API_URL=https://searxng-railway-production-6a19.up.railway.app/search